<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Create new User </title>
</head>
<body>
<h1> Creating new User  </h1>
<a th:href="@{/users}">Back to User List</a>
<br/><br/>

<form th:method="POST" th:action="@{/users/{id}(id=${user.getId()})}"
      th:object="${user}">
    <table border="0">
        <tr th:if="${user.getId()}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.getId()}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}" id="name"/></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>:</td>
            <td><input type="text" th:field="*{surname}" id="surname"/></td>
        </tr>
        <tr>
            <td>Department</td>
            <td>:</td>
            <td><input type="text" th:field="*{department}" id="department" /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>:</td>
            <td><input type="text" th:field="*{salary}" id="salary" /></td>
        </tr>
    </table>
    <input type="submit" th:value="Create" />
</form>
</body>
</html>